<div class="table-wrapper">
    <table class="table" *ngIf="config">
        <thead>
            <tr>
                <th *ngFor="let cell of config.columns">
                    {{cell.header}}
                    <div *ngIf="cell.sortable" class="sort" (click)="sort(cell)">
                        <i *ngIf="!cell.sorting" class="fa-solid fa-sort"></i>
                        <i *ngIf="cell.sorting == 'asc'" class="fa-solid fa-sort-up"></i>
                        <i
                            *ngIf="cell.sorting == 'desc'"
                            class="fa-solid fa-sort-down"
                        ></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let row of config.data"
                [ngClass]="{ 'link': config.rowLink }"
                (click)="rowLink(row)"
            >
                <td *ngFor="let column of config.columns">{{row[column.property]}}</td>
            </tr>
        </tbody>
    </table>
    <app-table-pager
        *ngIf="config && config.data?.length"
        [totalItems]="config.count"
        [currentCount]="config.data?.length || 0"
        [currentPage]="config.currentPage"
        (pageChanged)="pageChanged.emit($event)"
    ></app-table-pager>
</div>
