.table-wrapper {
    overflow-x: auto;
    .table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        background: #fff;
        border-spacing: 0;
        th {
            padding: 5px;
            white-space: nowrap;
            border: 1px solid #ddd;
            .sort {
                cursor: pointer;
                float: right;
                margin-right: 10px;
            }
        }

        td {
            border: 1px solid #ddd;
            padding: 5px;
            white-space: nowrap;
        }
    }
}
